.prepare/
target/
.mooncakes/
_build/
testdata/roundtrip_out.png
testdata/roundtrip_out.hdr
.pytest_cache/
image-mbt/
.codeartsdoer/
.benchmarks/
designs-oo/
designs-tech/
deliberations/
instructions/
requirements/