.prepare/
target/
.mooncakes/
_build/
.pytest_cache/
image-mbt/
.codeartsdoer/
.benchmarks/
designs-oo/
designs-tech/
deliberations/
instructions/
requirements/
scripts/
governances/
pdc/
vitepress-docs/node_modules/
nul
testdata/
